body {
  background-color: #F6F6F6;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
}

/*** GRID & PLACEMENT ***/

/*** HOME ***/
.container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.8fr;
  grid-gap: 0.5em;
}

.element {
  padding: 1em;
  display: flex;
}

.element2 {
  display: flex;
  justify-content: center;
}

.element:nth-child(1) {
  grid-column: 1 / 5;
}

.element:nth-child(2) {
  grid-column: 1;
}

.element:nth-child(3) {
  grid-column: 2;
}

.element:nth-child(4) {
  grid-column: 3;
}

/*** Work ***/

.container2 {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-gap: 0.5em;
}

.element3 {
  padding: 2.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  grid-row: 2 / 4;
  grid-column: 2;
}

.element4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1;
}

/*** LOGO ***/

.container3 {
  display: grid;
  width: 85%;
  margin: 6em auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-gap: 6em;
}

.element5 {
  grid-row: 2;
}

/*** ABOUT ***/

.element6 {
  grid-row: 2;
  grid-column: 1 / 3;
}

.element6:nth-child(3) {
  grid-column: 3;
}

.space {
  grid-gap: 2em;
}

/*** CONTACT ***/

.container4 {
  display: grid;
  width: 85%;
  margin: 6em auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2.5fr;
  grid-gap: 6em;
}

.no-hover:hover {
  text-decoration: none;
}

/*** STYLING ***/

.stroke {
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.4s;
}

.topImg {
  margin: 0.6%;
  float: left;
}

h1 {
  font-size: 1.2em;
  display: inline;
}

h2 {
  font-size: 3em;
  font-family: 'Playfair Display', serif;
  color: black;
  padding: 0.8em;
  background-color: white;
  border: 2px solid black;
  box-shadow:
        1px 1px black,
        2px 2px black,
        3px 3px black,
        4px 4px black,
        5px 5px black,
        6px 6px black,
        7px 7px black,
        8px 8px black,
        9px 9px black,
        10px 10px black,
        11px 11px black,
        12px 12px black,
        13px 13px black,
        14px 14px black,
        15px 15px black;
}

h2:hover {
  box-shadow:
        1px 1px black,
        2px 2px black,
        3px 3px black,
        4px 4px black,
        5px 5px black,
        6px 6px black,
        7px 7px black,
        8px 8px black,
        9px 9px black,
        10px 10px black;
  transform: translateY(5px);
  transform: translateX(5px);
  text-decoration: line-through;
}

h3 {
  display: inline;
  font-size: 1em;
  line-height: 50px;
  float: left;
  margin-left: 1%;
}

h3:hover {
  text-decoration: line-through;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 7%;
  padding-left: 5%;
}

span {
  display: inline;
  font-size: 1em;
  line-height: 50px;
  float: left;
  margin-left: 1%;
}

.cover {
  width: 100%;
  height: 400px;
  border: 5px solid white;
}

.card {
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
  transition: 0.4s;
  background-color: white;
}

.birdy {
  width: 100%;
  height: 100px;
}

.element2 a {
  font-size: 2.2em;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  width: 25%;
  height: 50px;
  padding: 6%;
  border: 8px solid white;
  justify-content: center;
  align-self: center;
}

.element2 a:hover {
  text-decoration: line-through;
}

.element3 video {
  padding: 10%;
}

.element5 img {
  width: 80%;
  padding: 10%;
}

/*** WORK ***/

ol li  {
  margin-bottom: 10%;
}

ol li:last-child {
  margin-bottom: 0%;
}

ol li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

ol li a:hover {
  text-decoration: underline;
}

/*** LOGO ***/

p {
  padding: 2%;
  line-height: 1.5;
}

/*** ABOUT ***/

.element6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element6 ol li {
    margin-bottom: 0%;
}

.element6 p {
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 5%;
}

.element6 img {
  padding: 5%;
  width: 50%;
}

.twee li p {
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.twee li {
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.twee {
  margin-bottom: 5%;
}

/*** CONTACT ***/

/*** FOOTER ***/

ul {
  display: flex;
  margin-top: 1.2em;
  margin-left: 2em;
}

ul li a {
  padding: 1rem 2rem;
  transform: skew(15deg);
  text-decoration: none;
  color: black;
}

ul li {
  border-left: 2px solid black;
  transform: skew(-15deg);
}

ul li:last-child {
  border-right: 2px solid black;
}

ul li a:hover {
  text-decoration: line-through;
}

footer {
  margin-top: 6%;
}

/*
@media (max-width: 550px) {
  .contain {
    display: block;
  }

  .spring:nth-child(3),
  .spring:nth-child(5),
  .spring:nth-child(6),
  .spring:nth-child(7),
  .spring:nth-child(8),
  .spring:nth-child(11) {
    display: none;
  }

  img {
    width: 30%;
  }
}*/
